@import 'libs/normalize';
@import './fonts';
@import './global';

:root {
  font-size: 1px;
}

.content {
  font-family: 'FuturaItalic';
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  line-height: 1.2;
  // position: relative;
  overflow: hidden;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.char.mobile {
  display: none;
}
.overflow {
  overflow: hidden;
}
@keyframes awp {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container {
  width: auto;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.content__inner {
  padding-top: 180rem;
  min-height: 50vh;
  position: relative;
  padding-bottom: 86rem;
}

.elem-1 {
  position: absolute;
  width: 122rem;
  bottom: 0;
  right: -300rem;
  animation: crystals 7s ease-in-out infinite;
}
.gyro {
  width: 285rem;
  position: absolute;
  left: 0;
  top: 200rem;
  z-index: -1;
  animation: crystals 6s ease-in-out infinite;
}
.char {
  width: 1052rem;
  position: absolute;
  right: 25rem;
  top: 0;
}
.content__left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 40rem;
}
.elem-2 {
  position: absolute;
  width: 145rem;
  top: 400rem;
  left: -300rem;
  animation: crystals 7s ease-in-out infinite;
}
.crystal-1 {
  position: absolute;
  animation: crystals 4s ease-in-out infinite;
  width: 185rem;
  right: 200rem;
  top: 60%;
}
.crystal-2 {
  top: 100rem;
  right: 200rem;
  position: absolute;
  animation: crystals 6s ease-in-out infinite;
  width: 139rem;
}
.left__logo {
  margin-bottom: 25rem;
  z-index: 11;
}
.left__text {
  z-index: 11;
  font-size: 52rem;
  font-weight: 700;
  margin-bottom: 36rem;
  span {
    display: block;
    font-size: 62rem;
  }
}
.left__btns {
  z-index: 11;
  display: flex;
  align-items: center;
}
.btn.bet {
  background: #fd5631;
  box-shadow: 0rem 9rem 20rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(90deg, #f8992a 0%, #fb3f2e 104.75%);
  box-shadow: 0rem 9rem 20rem rgba(0, 0, 0, 0.25);
  border-radius: 50rem;
  font-size: 30rem;
  font-family: 'FuturaBold';
  padding: 25rem 77rem;
  color: white;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    width: 86rem;
    height: 79rem;
    background-size: cover;
    background-image: url(../img/btn-crystal.png);
    right: -20rem;
    top: 50%;
    transform: translateY(-50%);
    animation: float 6s ease-in-out infinite;
  }
}
@keyframes float {
  0% {
    transform: translatey(-40%);
  }
  50% {
    transform: translatey(-60%);
  }
  100% {
    transform: translatey(-40%);
  }
}
.btn.terms {
  margin-left: 47rem;
  font-size: 24rem;
  cursor: pointer;
}

@keyframes crystals {
  0% {
    transform: translatey(-40%) rotate(-10deg);
  }
  50% {
    transform: translatey(-60%) rotate(-15deg);
  }
  100% {
    transform: translatey(-40%) rotate(-10deg);
  }
}
.content__steps {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50rem;
  font-size: 24rem;
  position: relative;
  z-index: 10;

  span {
    display: block;
    font-size: 42rem;
  }
}
.content__steps-bg {
  transform: skew(-14deg);
  background: #131726;
  border-left: 10rem solid #f96f2c;
  border-right: 10rem solid #f96f2c;
  box-shadow: 0rem 9rem 30rem rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}
.step {
  padding: 43rem 30rem 43rem;
  color: white;
  &:hover {
    color: #f96f2c;
  }
  position: relative;
}
.step.step-1,
.step.step-2 {
  &::before {
    right: -20rem;
    width: 5rem;
    background: #1f2331;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    transform: skew(-15deg);
  }
}

.step.step-3 {
  .orange {
    color: #fd5631;
    display: inline-block;
    font-size: 24rem;
  }
}

//start popup

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(14, 20, 28, 0.7);
  z-index: 1000;
  visibility: hidden;
  &.visible {
    visibility: visible;
  }
}
.popup-box {
  position: relative;
  max-width: 1110rem;
  padding: 55rem 45rem;
  font-weight: 400;
  font-size: 32rem;
  text-align: center;
  background: #0e141c;
  border: 2px solid #92a7c2;
  border-radius: 35px;
  p {
    margin: 15rem 0;
  }
  .divClipboard {
    cursor: pointer;
  }
}
.popup-close {
  cursor: pointer;
  position: absolute;
  right: -30rem;
  top: -30rem;
  background: #fd5631;
  width: 70rem;
  height: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 48rem;
  font-weight: 900;
  border-radius: 50%;
}
.bonus-code {
  span {
    color: #fd5631;
  }
}

//end popup

#bonus {
  position: absolute;
  visibility: none;
  opacity: 0;
  &.visible {
    visibility: visible;
    opacity: 1;
  }
}
.clipboardMessage {
  font-size: 24rem;
  line-height: 24rem;
  position: absolute;
  left: 50%;
  min-width: 150rem;
  padding: 0 10rem;
  transform: translateX(-50%);
  background: #fd5631;
  background: linear-gradient(90deg, rgba(209, 142, 13, 0) 0%, #fd5631 25%, #fd5631 75%, rgba(209, 142, 13, 0) 100%);
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  top: 0rem;
  visibility: visible;
  z-index: 500;
  padding: 10rem 20rem;
}

.clipboardMessage.visible {
  top: -100rem;
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1500px) {
  .content__inner {
    padding: 80rem 0;
  }
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 5;
  }
}

@media (max-width: 1330px) {
  .content__left {
    align-items: center;
    z-index: 100;
    position: relative;
  }
  .content__inner {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .content__steps {
    flex-direction: column;
    width: 40vw;
  }
  .content__steps .step {
    border-bottom: 8rem solid #f96f2c;
    background: #131726;
    margin-bottom: 20rem;
    border-radius: 20rem;
    z-index: 12;
  }
  .crystal-1,
  .crystal-2 {
    right: 100rem;
    z-index: 8;
  }
  .crystal-1 {
    top: 800rem;
  }
  .overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 8;
  }
  .content__steps-bg {
    display: none;
  }
  .content__steps .step::before {
    display: none;
  }
  .elem-2 {
    left: -250rem;
  }
  .left__text {
    text-align: center;
  }
}

@media (max-width: 1090px) {
  .char.pc {
    display: none;
  }
  .overlay {
    display: none;
  }
  .content__steps-wrapper::before {
    bottom: -200rem;
    top: auto;
    right: 35%;
  }

  .content__inner {
    padding: 80rem 0 120rem;
  }
  .content__steps {
    width: 60vw;
  }
  .char.mobile {
    margin-top: 20rem;
    display: block;
    position: relative;
    width: 60vw;
    margin-left: 15vw;
  }
  .char.mobile picture img,
  .char.mobile picture source {
    width: 60vw;
  }
  .gyro.mobile {
    width: 20vw;
    top: 10vw;
  }
  .gyro.mobile picture img,
  .gyro.mobile picture source {
    width: 20vw;
  }
}

@media (max-width: 950px) {
  .content__steps {
    width: 70vw;
  }
  .content__steps-wrapper::before {
    right: 28%;
  }
  .popup-box {
    width: 75%;
  }
}
@media (max-width: 750px) {
  .popup-box {
    font-size: 24rem;
  }
  .popup-box {
    width: 60%;
  }
  .popup-close {
    width: 50rem;
    height: 50rem;
    font-size: 30rem;
    right: -15rem;
    top: -15rem;
  }
}

@media (max-width: 600px) {
  .left__btns {
    flex-direction: column;
  }
  :root {
    font-size: 0.8px;
  }

  .btn.terms {
    margin-left: 0rem;
    margin-top: 20rem;
  }
  .char {
    padding-top: 10rem;
    source,
    img {
      width: 80vw;
    }
  }
  .content__left {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    margin-bottom: 40rem;
  }
}

@media (max-width: 470px) {
  :root {
    font-size: 0.7px;
  }
}

@media (max-width: 420px) {
  .left__text {
    font-size: 42rem;
  }
}
